ul {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
}

li {
  display: inline;
}

div#sun {
  height: 12em;
  width: 12em;
  background-repeat: no-repeat;
  position: fixed;
  top: 85px;
  background-image: url("images/weather.svg");
}

html,
body {
  height: 100%;
}

body {
  background-color: skyblue;
}

#mtn {
  position: relative;
  bottom: 249px;
  opacity: 0.3;
}

div#dog {
  height: 10em;
  width: 15em;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-size: cover;
  background-repeat: none;
  background-image: url("images/dog.gif");
}

#demobox {
  background-color: rgb(62, 139, 62);
  padding: 10px;
  size: 230;
  position: relative;
  top: 350px;
  border: 1px solid green;
}

div#dog {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: run-in;
}

@keyframes run-in {
  from {
    position: fixed;
    right: 0%;
  }
  to {
    position: fixed;
    right: 120%;
  }
}

.topnav {
  background-color: rgb(27, 153, 132);
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 23px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav .icon {
  display: none;
}
#Welcome {
  position: relative;
  left: 475px;
  font-size: 36px;
  color: mintcream;
  padding-bottom: 55px;
  transform-origin: center;
}

#Ruckus1 {
  position: relative;
  left: 475px;
  font-size: 36px;
  color: mintcream;
  font-family: sans-serif;
}

#day {
  color: mintcream;
  position: relative;
  bottom: 75px;
}

#hometext {
  color: mintcream;
  position: relative;
  left: 23px;
}

#Ahome1 {
  position: relative;
  left: 230px;
  bottom: 599px;
}

#athome {
  position: 0;
  left: 105px;
  bottom: 815px;
}

#Cutetext {
  color: mintcream;
  position: relative;
  bottom: 720px;
  left: 265px;
}

#cute {
  position: relative;
  left: 228px;
  bottom: 720px;
}

#Naptext {
  color: mintcream;
  position: relative;
  bottom: 680px;
  left: 265px;
  font-size: 18px;
}

#Nap {
  position: relative;
  left: 228px;
  bottom: 690px;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: scroll;
}
