ul {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
}

li {
  display: inline;
}

p {
  font-size: 1.5em;
  color: #8a0d15;
  background-image: none;
  background-color: transparent;
}
body {
  background-image: url("images/dog.gif"), url("images/clouds.png");
}
