ul {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
}

li {
  display: inline;
}

p {
  font-size: 1.5em;
  color: #8a0d15;
  background-image: none;
  background-color: transparent;
}
div#dog {
  height: 10em;
  width: 15em;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-size: cover;
  background-repeat: none;
  background-image: url("images/dog.gif");
}
div#sun {
  height: 12em;
  width: 12em;
  background-repeat: no-repeat;
  position: fixed;
  top: 30px;
  background-image: url("images/weather.svg");
}
